<header>
  <nav
    class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3"
  >
    <div class="container">
      <a class="navbar-brand" [routerLink]="['/']">User Management</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target=".navbar-collapse"
        aria-label="Toggle navigation"
        [attr.aria-expanded]="isExpanded"
        (click)="toggle()"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse"
        [ngClass]="{ show: isExpanded }"
      >
        <ul class="navbar-nav flex-grow navbar-left">
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <div class="d-flex justify-content-between">

              <a class="nav-link text-dark" href="{{getSwaggerLink()}}"
              ><span class="iconify" data-icon="logos-swagger" data-inline="false"></span> Swagger</a
              >
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
